<div class="sec-box" data-scroll-index="0">

    <div class="bg"></div>

    <div class="content-box">

        <!-- ==================== Start About ==================== -->

        <div class="hero">
            <div class="content">
                <h5 class="cd-headline slide">
                    <span>Hola,soy</span>
                    <span class="cd-words-wrapper main-color">
                        <b class="is-visible">Milton </b>
                        <b>Front-End Developer</b>
                        <b>Back-end Developer</b>
                    </span>
                </h5>
                <h1>Front-end Developer y <span class="bord">Backend Developer</span>
                    Ubicado 
                    en
                    Lima, Peru</h1>
                <p class="text">I've done remote work for agencies, consulted for startups, and
                    collaborated
                    with talented people to create digital products for both business and
                    consumer
                    use.
                </p>
                <div class="stauts mt-50">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="mr-15">
                            <div class="d-flex align-items-center">
                                <h2>50</h2>
                                <p>Completed <br> Projects</p>
                            </div>
                        </div>
                        <div class="mr-15">
                            <div class="d-flex align-items-center">
                                <h2>8</h2>
                                <p>Years <br> of Experience</p>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center">
                                <h2>6k</h2>
                                <p>Clients <br> Worldwide</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================== End About ==================== -->


    </div>

</div>