<div class="author-profile">
    <div class="author-img">
        <div class="img">
            <img src="assets/imgs/header/profile.jpg" alt="">
        </div>
    </div>
    <div class="author-info">
        <div class="text-center">
            <span class="main-color sub-title mb-10">Desarrollador web</span>
            <h4 class="fw-500">Milton Cañari</h4>
        </div>
        <div class="social mt-20">
            <a href="#0" class="icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#0" class="icon">
                <i class="fab fa-behance"></i>
            </a>
            <a href="#0" class="icon">
                <i class="fab fa-dribbble"></i>
            </a>
        </div>
    </div>
    <div class="butns mt-30">
        <a href="#0" class="inf-butn" data-scroll-nav="4">
            <span>Contacto</span>
        </a>
        <a href="#0" class="inf-butn">
            <span>Descargar CV</span>
        </a>
    </div>
</div>