---
import { Code, Debug } from "astro:components";
import ExperienciaBox from "./ExperienciaBox.astro";
interface Propertys {
    fecha: string;
    cargo: string;
    empresa: string;
    funciones: string;
}
const arrayExperiencia: Propertys[] = [
    {
        cargo: "Programador de Sistemas",
        empresa: "Laive sa",
        fecha: "2021 - Present",
        funciones:
            "ls simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has",
    },
    {
        cargo: "Programador de Sistemas",
        empresa: "Laive sa",
        fecha: "2021 - Present",
        funciones:
            "ls simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has",
    },
    {
        cargo: "Programador de Sistemas",
        empresa: "Laive sa",
        fecha: "2021 - Present",
        funciones:
            "ls simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has",
    },
    {
        cargo: "Programador de Sistemas",
        empresa: "Laive sa",
        fecha: "2021 - Present",
        funciones:
            "ls simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has",
    },
];
---

<div class="sec-box" data-scroll-index="3">
    <div class="bg"></div>

    <div class="content-box">
        <!-- ==================== Start Resume ==================== -->

        <div class="resume">
            <div class="sec-head mb-80 wow fadeInUp">
                <div class="d-inline-block">
                    <div class="sub-title-icon d-flex align-items-center">
                        <span class="icon pe-7s-note2"></span>
                        <h6>My Resume</h6>
                    </div>
                </div>
                <h3>Education & Experience</h3>
            </div>

            <div class="wow fadeInUp" data-wow-delay=".5s">
                <div
                    class="resume-swiper2"
                    data-carousel="swiper"
                    data-space="50"
                    data-speed="1000"
                >
                    <div
                        id="content-carousel-container-unq-resume"
                        class="swiper-container"
                        data-swiper="container"
                    >
                        <div class="swiper-wrapper">
                            {
                                arrayExperiencia.map((r)=>{
                                  return  <ExperienciaBox {...r} />
                                })
                            }
                      

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================== End Resume ==================== -->
    </div>
</div>
