<div class="menu-links ml-auto fz-18"><!-- //TODO: Aca empieza-->
    <a href="#0" class="active" data-scroll-nav="0">
        <span class="icon pe-7s-home"></span>
        <span class="text">Home</span>
    </a>
    <a href="#0" data-scroll-nav="1">
        <span class="icon pe-7s-graph"></span>
        <span class="text">Services</span>
    </a>
    <a href="#0" data-scroll-nav="2">
        <span class="icon pe-7s-portfolio"></span>
        <span class="text">Portfolio</span>
    </a>
    <a href="#0" data-scroll-nav="3">
        <span class="icon pe-7s-note"></span>
        <span class="text">Blog</span>
    </a>
    <a href="#0" data-scroll-nav="4">
        <span class="icon pe-7s-map-marker"></span>
        <span class="text">Contact</span>
    </a>
</div>