<div class="sec-box" data-scroll-index="1">
    <div class="bg"></div>
    <div class="content-box">
        <!-- ==================== Start Services ==================== -->
        <div class="services">
            <div class="sec-head mb-80 wow fadeInUp">
                <div class="d-inline-block">
                    <div class="sub-title-icon d-flex align-items-center">
                        <span class="icon pe-7s-bell"></span>
                        <h6>Servicios</h6>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div
                        class="item bord mb-30 wow fadeInUp"
                        data-wow-delay=".2s"
                    >
                        <div class="cont">
                            <div class="d-flex align-items-center mb-30">
                                <div>
                                    <span class="icon-img-50 mr-30">
                                        <img
                                            src="assets/imgs/serv-img/3.png"
                                            alt=""
                                        />
                                    </span>
                                </div>
                                <div>
                                    <span class="opacity-7 fz-13 mb-5"></span>
                                        Desarrollo</span
                                    >
                                    <h5 class="fz-20">Microservicios</h5>
                                </div>
                            </div>
                            <p>
                                Documentación clara y completa de la API para
                                facilitar su uso por parte de otros
                                desarrolladores.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="item bord mb-30 wow fadeInUp"
                        data-wow-delay=".4s"
                    >
                        <div class="cont">
                            <div class="d-flex align-items-center mb-30">
                                <div>
                                    <span class="icon-img-50 mr-30">
                                        <img
                                            src="assets/imgs/serv-img/4.png"
                                            alt=""
                                        />
                                    </span>
                                </div>
                                <div>
                                    <span class="opacity-7 fz-13 mb-5"
                                        >Elaboracion</span
                                    >
                                    <h5 class="fz-20">Landing Page</h5>
                                </div>
                            </div>
                            <p>
                                Diseño responsivo para garantizar una
                                experiencia óptima en dispositivos móviles y de
                                escritorio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="item bord sm-mb30 wow fadeInUp"
                        data-wow-delay=".6s"
                    >
                        <div class="cont">
                            <div class="d-flex align-items-center mb-30">
                                <div>
                                    <span class="icon-img-50 mr-30">
                                        <img
                                            src="assets/imgs/serv-img/1.png"
                                            alt=""
                                        />
                                    </span>
                                </div>
                                <div>
                                    <span class="opacity-7 fz-13 mb-5"
                                        >Diseño</span
                                    >
                                    <h5 class="fz-20">Base de datos</h5>
                                </div>
                            </div>
                            <p>
                                Diseño e implementación de bases de datos SQL y
                                NoSQL para garantizar la integridad de los datos
                                y el rendimiento óptimo de las consultas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item bord wow fadeInUp" data-wow-delay=".8s">
                        <div class="cont">
                            <div class="d-flex align-items-center mb-30">
                                <div>
                                    <span class="icon-img-50 mr-30">
                                        <img
                                            src="assets/imgs/serv-img/2.png"
                                            alt=""
                                        />
                                    </span>
                                </div>
                                <div>
                                    <span class="opacity-7 fz-13 mb-5"
                                        >Asesor</span
                                    >
                                    <h5 class="fz-20">Construcion Web</h5>
                                </div>
                            </div>
                            <p>
                                Ofrecemos consultoría especializada y planificación estratégica para garantizar el éxito de tus proyectos de desarrollo web.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================== End Services ==================== -->
    </div>
</div>
