---
import Node from "../icons/Node.astro";
import Angular from "../icons/Angular.astro";
import React from "../icons/React.astro";
import IconHtml from "../icons/IconHtml.astro";
import Tailwind from "../icons/Tailwind.astro";
import Bs5 from "../icons/bs.astro";
import Nextjs from "../icons/Nextjs.astro";
import Api from "../icons/Api.astro";
import GitHub from '../icons/GitHub.astro'
---

<div class="sec-box" data-scroll-index="0">
    <div class="bg"></div>
    <div class="content-box">
        <!-- ==================== Start Skills ==================== -->
        <div class="skills">
            <div class="sec-head mb-80 wow fadeInUp">
                <div class="sub-title-icon d-flex align-items-center">
                    <span class="icon pe-7s-gym"></span>
                    <h6>Mis Habilidades</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="item mb-30">
                        <div
                            class="d-flex align-items-center justify-content-center mb-30"
                        >
                            <div>
                                <Node />
                                <Angular />
                                <React />
                                <IconHtml />
                                <Tailwind />
                                <Bs5 />
                                <Nextjs />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item sm-mb30">
                        <div class="d-flex align-items-center mb-30">
                            <div class="mr-30">
                                <div class="img icon-img-40">
                                   <GitHub></GitHub>
                                </div>
                            </div>
                            <div>
                                <h6 class="fz-18">Repository</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="d-flex align-items-center mb-30">
                            <div class="mr-30">
                                <div class="img icon-img-40">
                                    <Api />
                                </div>
                            </div>
                            <div>
                                <h6 class="fz-18">Api Rest</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================== End Skills ==================== -->
    </div>
</div>
