<div class="sec-box" data-scroll-index="4">

    <div class="bg"></div>

    <div class="content-box">

        <!-- ==================== Start Contact ==================== -->

        <div class="contact">
            <div class="sec-head mb-80">
                <div class="d-inline-block">
                    <div class="sub-title-icon d-flex align-items-center">
                        <span class="icon pe-7s-map-marker"></span>
                        <h6>Contacto</h6>
                    </div>
                </div>

            </div>
            <div class="info mb-80">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item mb-30 d-flex align-items-center">
                            <div class="mr-15">
                                <span class="icon fz-40 main-color pe-7s-call"></span>
                            </div>
                            <div class="mr-10">
                                <h6 class="opacity-7">Telefono</h6>
                            </div>
                            <div class="ml-auto">
                                <h4>+51 980904787</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item mb-30 d-flex align-items-center">
                            <div class="mr-15">
                                <span class="icon fz-40 main-color pe-7s-mail"></span>
                            </div>
                            <div class="mr-10">
                                <h6 class="opacity-7">Email</h6>
                            </div>
                            <div class="ml-auto">
                                <h4>
                                    <a href="mailto:gmraivan@gmail.com">gmraivan@gmail.com</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="item d-flex align-items-center">
                            <div class="mr-15">
                                <span class="icon fz-40 main-color pe-7s-map-marker"></span>
                            </div>
                            <div class="mr-10">
                                <h6 class="opacity-7">Ciudad</h6>
                            </div>
                            <div class="ml-auto">
                                <h4>Lima , Perú</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31208.719094537824!2d-77.0112409723442!3d-12.10599875500493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8991e614d33%3A0x29fc509365d6b1d2!2sLa%20Victoria!5e0!3m2!1ses-419!2spe!4v1708049893131!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- ==================== End Contact ==================== -->

    </div>

</div>